In [1]:
#importing necessary packages
import kaggle
import pandas as pd

In [2]:
#used to download zipfile - dataset which are available in kaggle
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
#extract file from zip file
import zipfile
zip = zipfile.ZipFile('orders.csv.zip')
zip.extractall()
zip.close()

In [4]:
#read a csv and handle null values present in the dataset
df = pd.read_csv('orders.csv', na_values=['Not Available', 'unknown'])
#checking how much values available inside the ship mode column
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [5]:
#rename column names - make all into lower case & replace with underscore
#high time complexity, because takes time to change all columns

#df.rename(columns = {'Order Id' : 'order_id'})

#instead change into str and use lower()
df.columns = df.columns.str.lower()

#replace all spaces with underscore
df.columns = df.columns.str.replace(' ', '_')
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [6]:
# creating a new column discount
df['discount'] = df['list_price'] * df['discount_percent'] / 100

#creating sale price (list_price - discount)
df['sale_price'] = df['list_price'] - df['discount']

#find the total profit (sale_price - cost_price)
df['profit'] = df['sale_price'] - df['cost_price']
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [7]:
#converting order_date from object to datetime
df.dtypes
df['order_date'] = pd.to_datetime(df['order_date'], format = "%Y-%m-%d")
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

In [8]:
#droping the unnecessary columns
df.drop(columns = ['list_price', 'cost_price', 'discount_percent'], inplace = True)

In [9]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [10]:
#installing required packages
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\krisa\appdata\local\programs\python\python38\lib\site-packages (8.3.0)

In [11]:
#importing required libraries
import mysql.connector
import os

#connecting python with mysql database
mydb = mysql.connector.connect(host = "localhost", user = "root", password = "1234", database = "project", use_pure = True)    
mycursor = mydb.cursor()

In [12]:
from sqlalchemy import create_engine
import pandas as pd

# Define connection parameters
username = 'root'
password = '1234'
host = 'localhost'
database = "project"

# Create an SQLAlchemy engine
engine = create_engine(f'mysql+mysqlconnector://{username}:{password}@{host}/{database}')

In [13]:
# Write the DataFrame to SQL
df.to_sql('df_orders', con=engine, index=False, if_exists='append')

IntegrityError: (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '1' for key 'df_orders.PRIMARY'
[SQL: INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, sale_price, profit) VALUES (%(order_id)s, %(order_date)s, %(ship_mode)s, %(segment)s, %(country)s, %(city)s, %(state)s, %(postal_code)s, %(region)s, %(category)s, %(sub_category)s, %(product_id)s, %(quantity)s, %(discount)s, %(sale_price)s, %(profit)s)]
[parameters: [{'order_id': 1, 'order_date': datetime.datetime(2023, 3, 1, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Henderson', 'state': 'Kentucky', 'postal_code': 42420, 'region': 'South', 'category': 'Furniture', 'sub_category': 'Bookcases', 'product_id': 'FUR-BO-10001798', 'quantity': 2, 'discount': 5.2, 'sale_price': 254.8, 'profit': 14.800000000000011}, {'order_id': 2, 'order_date': datetime.datetime(2023, 8, 15, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Henderson', 'state': 'Kentucky', 'postal_code': 42420, 'region': 'South', 'category': 'Furniture', 'sub_category': 'Chairs', 'product_id': 'FUR-CH-10000454', 'quantity': 3, 'discount': 21.9, 'sale_price': 708.1, 'profit': 108.10000000000002}, {'order_id': 3, 'order_date': datetime.datetime(2023, 1, 10, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Corporate', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90036, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Labels', 'product_id': 'OFF-LA-10000240', 'quantity': 2, 'discount': 0.5, 'sale_price': 9.5, 'profit': -0.5}, {'order_id': 4, 'order_date': datetime.datetime(2022, 6, 18, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Fort Lauderdale', 'state': 'Florida', 'postal_code': 33311, 'region': 'South', 'category': 'Furniture', 'sub_category': 'Tables', 'product_id': 'FUR-TA-10000577', 'quantity': 5, 'discount': 19.2, 'sale_price': 940.8, 'profit': 160.79999999999995}, {'order_id': 5, 'order_date': datetime.datetime(2022, 7, 13, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Fort Lauderdale', 'state': 'Florida', 'postal_code': 33311, 'region': 'South', 'category': 'Office Supplies', 'sub_category': 'Storage', 'product_id': 'OFF-ST-10000760', 'quantity': 2, 'discount': 1.0, 'sale_price': 19.0, 'profit': -1.0}, {'order_id': 6, 'order_date': datetime.datetime(2022, 3, 13, 0, 0), 'ship_mode': None, 'segment': 'Consumer', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90032, 'region': 'West', 'category': 'Furniture', 'sub_category': 'Furnishings', 'product_id': 'FUR-FU-10001487', 'quantity': 7, 'discount': 1.5, 'sale_price': 48.5, 'profit': -1.5}, {'order_id': 7, 'order_date': datetime.datetime(2022, 12, 28, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90032, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Art', 'product_id': 'OFF-AR-10002833', 'quantity': 4, 'discount': 0.3, 'sale_price': 9.7, 'profit': -0.3000000000000007}, {'order_id': 8, 'order_date': datetime.datetime(2022, 1, 25, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Los Angeles', 'state': 'California', 'postal_code': 90032, 'region': 'West', 'category': 'Technology', 'sub_category': 'Phones', 'product_id': 'TEC-PH-10002275', 'quantity': 6, 'discount': 45.5, 'sale_price': 864.5, 'profit': 4.5}  ... displaying 10 of 9994 total bound parameter sets ...  {'order_id': 9993, 'order_date': datetime.datetime(2022, 11, 19, 0, 0), 'ship_mode': 'Standard Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Costa Mesa', 'state': 'California', 'postal_code': 92627, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Paper', 'product_id': 'OFF-PA-10004041', 'quantity': 4, 'discount': 0.9, 'sale_price': 29.1, 'profit': -0.8999999999999986}, {'order_id': 9994, 'order_date': datetime.datetime(2022, 7, 17, 0, 0), 'ship_mode': 'Second Class', 'segment': 'Consumer', 'country': 'United States', 'city': 'Westminster', 'state': 'California', 'postal_code': 92683, 'region': 'West', 'category': 'Office Supplies', 'sub_category': 'Appliances', 'product_id': 'OFF-AP-10002684', 'quantity': 2, 'discount': 7.2, 'sale_price': 232.8, 'profit': 22.80000000000001}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)